# Ignorar archivos de entorno
.env

# Ignorar archivos de bytecode de Python
__pycache__/
__pycache__.
*.py[cod]

# Ignorar otros archivos temporales
*.log
*.sqlite3
*.db
*.egg-info/
*.egg
*.venv/

# Ignorar archivos de configuración de IDE
.idea/
.vscode/
*.swp
